<h1>Editando usuário</h1>

<% form_for(@user) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
	<p>
		<%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Detalhar', @user %> |
<%= link_to 'Voltar', users_path %>