<p>
  <b>Data de início:</b>
  <%=h @project_membership.joined %>
</p>

<p>
  <b>Data de fim:</b>
  <%=h @project_membership.leaved %>
</p>

<p>
  <b>Usuário:</b>
  <%=h @project_membership.user.name %>
</p>

<p>
  <b>Projeto:</b>
  <%=h @project_membership.project.name %>
</p>