<div id="footer">
    <div id="footer_left">&copy; Copyright 2009 Horas Trabalhadas</div>
    <div id="footer_right">
      <!-- Please do not change or delete these links. Read the license! Thanks. :-) -->
      <a href="http://www.realitysoftware.ca/services/website-development/design/">
         Web design
      </a>
      released by
      <a href="http://www.flash-gallery.org/">Flash Gallery</a>
    </div>
</div>